# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

build
nbproject
CMakeCache.txt
.gitignore~
cmake_install.cmake
bin
lib
*.*~
*.cpp~
CMakeFiles
.project
.cproject
.settings
msg_gen
bagfiles
